* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --backgruond-quote: #20293A;
    --color-img: #4A5567;
    --quote-button: #AEB0FF;
    --text: #E3E8EF;
    --header-color: #111729;
    --link-footer: #284bce;

}

@font-face {
    font-family: 'Outfit', sans-serif;
    src: url(../fonts/Outfit-VariableFont_wght.ttf);
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Outfit', sans-serif;
    color: var(--text);
    height: 100vh;
    background-color: var(--header-color);
}

.wrapper {
    display: flex;
    max-width: 388px;
    width: 100%;
    min-height: 212px;
    background-image: url("../resources/bg-image-random-quote.svg");
    border-radius: 20px;
    padding: 36px 32px 0 32px;
    margin: 0 10px;
    background-color: var(--backgruond-quote);
}

.quote-box {
    max-width: 316px;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;

}
.quote-text::after {
    content: '" ';
}
.quote-text::before {
    content: ' "';
}

.title {
    font-size: 16px;
}

.buttons {
    display: flex;
    gap: 8px;
    margin-top: 8px;
}

.btn {
    font-size: 10px;
    border-radius: 50px;
    height: 21px;
    padding: 3px 12px;
    color: var(--quote-button);
    border: 1px solid var(--quote-button);
    background: transparent;
}

.quote-text {
    height: auto;
    margin-top: 20px;
    font-size: 22px;
    text-align: center;
}

.btn-change {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
    margin-top: 16px;
}

.btn-item {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
    padding: 16px;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    font-family: 'Outfit', sans-serif;
    font-size: 16px;
    color: var(--text);
    height: 42px;
    background-color: var(--backgruond-quote);
    transition: 1.6s;
}
.btn-item:hover {
    background-color: var(--quote-button);
    color: var(--header-color);

}

/* ================  FOOTER  ============== */

footer {
    max-width: 275px;
    margin: 0 auto;
    padding: 3rem 0;
    color: var(--text);
}

.attribution {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}

.attribution p {
    font-weight: 600;
}

.attribution a {
    font-style: italic;
    text-decoration: none;
    color: var(--link-footer);
}

/*
 ===============  поправити стилі при 360рх ===============
*/

@media screen  and (min-width: 680px) and (max-width: 1023px) {

    .wrapper {
        max-width: 504px;
        width: 100%;
        padding: 36px 52px 0 52px;
    }

    .quote-box {
        width: 400px;
        height: auto;
    }
}

@media screen  and (min-width: 1023px) {

    .wrapper {
        max-width: 504px;
        width: 100%;
        padding: 36px 52px 0 52px;
    }

    .quote-box {
        width: 400px;
        height: auto;
    }
}

